h1{
    color:red
}


.parent{
    border:2px solid black;
    padding:30px 40px;
    min-height:100vh;
    border-radius:20px;
    margin:40px 0;
    opacity:0;
    animation: fadeIn 1s forwards;

    /* animation-duration:1.2s; */
    /* animation-duration:5s; */
    /* animation-fill-mode:forwards; */
}


.content{
    /* padding: 0 50px; */
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
   animation: slideIn 1s ease forwards;

    
    
}





.box1{
    width:350px;
    height: 400px;
    background:red ;
    border-radius: 20px;
}

.box2{
    width:350px;
    height: 400px;
    background:green ;
    border-radius: 20px;
}

.box3{
    width:350px;
    height: 400px;
    background:yellow ;
    border-radius: 20px;
}

.box4{
    width:350px;
    height: 400px;
    background:blue ;
    border-radius: 20px;
}

.content1{
    display: flex;
    justify-content:center ;
    gap:10px;
    margin: 20px 0;
     animation: slideIn 1s ease forwards;

}

.box5{
    width:350px;
    height: 400px;
    background:rgb(0, 255, 136) ;
    border-radius: 20px;
}

.box6{
    width:350px;
    height: 400px;
    background:violet ;
    border-radius: 20px;
}

.box7{
    width:350px;
    height: 400px;
    background:purple ;
    border-radius: 20px;
}
.content2{
 /* padding: 0 10px; */
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    /* width:90%; */
   animation: slideIn 1s ease forwards;

    
}


@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}